
/*
#B2750A
#FFB637
#FFAD1E
#0055B2
#3A98FF
*/

body{
    background-color: black;
    color:#B2750A;
}

#header {
    background-color: none;
    min-height: 80px;
 }

header > h1 {
    margin:0;
    text-align: right;
    font-family: 'Lato', sans-serif;
    position: relative;
    transform: translateY(50%); 
}

header > h2 {
    margin:0;
    text-align: right;
    font-family: 'Lato', sans-serif;
    position: relative;
    transform: translateY(50%); 
    border-bottom: #B2750Av solid;
}

 #logo {
    background-image: url(img/bg.jpeg);
    position: absolute;
    top: 10px;
    left: 12px;
     width: 40px;
     border-radius: 50%;
}

.img-left{
position: absolute;
top: 300px;
left: 200px;
}

